/* Google font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

.the_width_setup{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

body{
      font-family: "Poppins", sans-serif;
}

#navbar_container{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 30px auto 49px auto;
}

#hero_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .hero_content{
    display: flex;
    flex-direction: column;
    gap: 18px;
} */

#total_hero{
    background-color: #FEEAE9;
    border-radius: 10px;
    padding: 50px;
}

.card{
    display: flex;
    flex: 1;
    justify-content: space-between;
    background-color: #FF9C35;
    align-items: center;
    padding: 15px 20px;
    color: white;
    border-radius: 8px;
}

.cardmiddle{
    margin: 0 26px;
}

.cardcontainer{
    display: flex;
    justify-content: space-between;
}

.shoes_card_container{
    display: flex;
    justify-content: space-between;
}

#gradcolor{
    background-image: linear-gradient(#FF589B, #FF136F);
    cursor: pointer;
    color: white;
    font-size: 24px;
    font-weight: 500;
}

#display{
    display: none;
}


/* MOBILE RESPONSIVE max 320 px 635px */
@media only screen and (max-width: 635px){
    #navbar_container{
        display: flex;
        align-items: center;
    }

    #hero_container{
        display: flex;
        flex-direction: column-reverse;
    }

    #the-extimage{
    width: 100%;
}

#mitv{
    font-size: 32px !important;
    text-align: center;
}

#tv_p{
    text-align: center;
}

.make_centr{
    text-align: center;
}

.cardcontainer{
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 10px;
}
.cardmiddle{
    margin: 0;
}

#shoesid{
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 10px;
}
#ovrflwimag{
    width: 100%;
}

.shoes_card_container{
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 10px;
}

#inputblank{
    max-width: 150px;
}

#total_footer{
    margin-bottom: 0 !important;
}
}


/* responsive for tablet max width 992px  */
@media only screen and (min-width: 636px) and (max-width: 992px){
    #navbar_container{
        display: flex;
        align-items: center;
    }

    #hero_container{
        display: flex;
        flex-direction: column-reverse;
    }

    #the-extimage{
    width: 100%;
}

#mitv{
    font-size: 32px !important;
    text-align: center;
}

#tv_p{
    text-align: center;
}

.make_centr{
    text-align: center;
}

.cardcontainer{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    gap: 10px;
}
.cardmiddle{
    margin: 0;
}

#shoesid{
    display: grid;
     grid-template-columns: repeat(2, 1fr);
    padding: 5px;
    gap: 10px;
}
#ovrflwimag{
    width: 100%;
}

.shoes_card_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 5px;
    gap: 10px;
}

#inputblank{
    max-width: 250px;
}

#total_footer{
    margin-bottom: 0 !important;
}
}



